<% include ../partials/header %>
<!-- Top search/or create post(s) container -->
<!-- <div class="row index-header-row">
    <div class="index-buy-col col-lg-9 col-md-9 col-sm-12">
        <h3>Find your perfect clubs today!</h3>
        <form action="/posts/search">
            <div class="form-group search-form-grp">
                <input
                       class="form-control box-shadow-green search-input"
                       type="text"
                       name="search-terms"
                       placeholder="Search not ready yet...">
                <button type="submit" class="btn btn-green-bright btn-block btn-search">Search</button>
            </div>
        </form>
    </div>

    <div class="index-filter-col col-lg-3 col-md-3 col-sm-12">
            <p class="index-create-header">Or...</p>
            <a class="btn btn-sm create-post btn-violet-outline" href="/posts/new">
                + Create Post
            </a>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row index-main-r">
        <!-- Call to action, filters -->
        <div class="filter-c col-sm-12 col-md-3 col-lg-3">
            <div class="row">
                <div class="col">
                    <h4>Filter Options</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">


                </div>
            </div>
        </div>

        <!-- Index of Posts -->
        <div class="post-index-c col-sm-12 col-md-9 col-lg-9">
            <div class="row">
                <% posts.forEach(function(post){ %>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <!--// Posts -->
                        <div class="card index-card">
                            <img src="<%= post.image %>">

                            <div class="card-body">
                                <!-- Short description of what is being sold -->
                                <div><%= post.title %></div>

                                <!-- States who made post and links to their profile -->
                                <div>
                                    <span class="posted-by"> posted by:</span>
                                    <a href="/profile/<%= post.seller.id %>" class="author-link">
                                        <%= post.seller.username %>
                                    </a>
                                </div>

                                <!-- Section for the More Info button and price info -->
                                <div class="index2-card-footer">
                                    <!-- More info button -->
                                    <a href="/posts/<%= post._id %>"
                                    class="btn btn-white-g">More Info</a>

                                    <!-- Price display -->
                                    <span class="index-price">
                                         $69.97
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>

</div>



<% include ../partials/footer %>
