<% include ../partials/header2 %>

<div class="container-fluid">
    <!-- Index of Posts -->
    <div class="post-index-c">
        <div class="row">
            <% posts.forEach(function(post){ %>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!--// Posts -->
                    <div class="card index-card">
                        <img src="<%= post.image %>">

                        <div class="card-body">
                            <!-- Short description of what is being sold -->
                            <div><%= post.title %></div>

                            <!-- States who made post and links to their profile -->
                            <div>
                                <span class="posted-by"> posted by:</span>
                                <a href="/profile/<%= post.seller.id %>" class="author-link">
                                    <%= post.seller.username %>
                                </a>
                            </div>

                            <!-- Section for the More Info button and price info -->
                            <div class="index2-card-footer">
                                <!-- More info button -->
                                <a href="/posts/<%= post._id %>"
                                class="btn btn-white-g">More Info</a>

                                <!-- Price display -->
                                <span class="index-price">
                                     $69.97
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="sidebar justify-content-between">
        <div class="logo">
            <h2 class="brand-title">TheGolfClub</h2>

            <h4>Filter Options</h4>
        </div>

        <!-- If no user is logged in -->
        <% if (!currentUser) { %>
            <!-- This div groups the buttons as one flex item -->
            <div>
                <a class="btn btn-block btn-outline-secondary"
                   id="sidebar-btn-1"
                   href="#"> Hide </a>

                <a class="btn btn-block btn-outline-success"
                   id="sidebar-btn-2"
                   href="/login"> Login </a>

                <a class="btn btn-block btn-outline-success"
                   id="sidebar-btn-3"
                   href="/register"> Sign up </a>
            </div>

        <!-- If a user is logged in -->
        <% } else { %>
            <div>
                <a class="btn btn-block btn-outline-secondary"
                   id="sidebar-btn-1"
                   href="#">
                    Hide
                </a>

                <a class="btn btn-block btn-outline-secondary"
                   id="sidebar-btn-2"
                   href="/posts/new">
                    Create Post
                </a>

                <a class="btn btn-block btn-outline-success"
                   id="sidebar-btn-3"
                   href="/profile/<%= currentUser._id %>">
                    My Profile
                </a>

                <a class="btn btn-block btn-outline-success"
                   id="sidebar-btn-4"
                   href="/logout/<%= currentUser.id %>">
                    Logout
                </a>
            </div>
        <% } %>
    </div>
</div>


<% include ../partials/footer %>
